#mobile-overlay.active {
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2147483647;

	p.notice {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: #333;
      color: #F8F8F8;
      padding: 3rem;
      margin: 0;
	}
}