@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import "../vendor/prefixer.less";
@import "variables.less";
@import "factories.less";

.hidden {
  display: none!important;
}

body, html {
  font-family: "Fira Sans";
  padding: 0;
  margin: 0;
}

.navbar-goggles {
  height: 4.5rem;
  background: @darkpurple;
  color: rgba(255,255,255,0.5);
  font-family: 'Fira Sans', sans-serif;

  #navbar-login {
    border-left: none;

    &.signed-in {
      border-right: none;
    }
  }

  #navbar-left {
    margin-left: 12%;
  }

  #navbar-right {
    margin-right: 12%;
  }

  .navbar-logo-container {

    .status.placeholder a {
      font-weight: 300;
    }

    &:hover {
      .transform(none);
    }

    &:active {
      .transform(none);
    }

    a.logo {
      text-decoration: none;
      color: rgba(255,255,255,0.3);

      font-size: 1.4rem;
      font-weight: 700;

      .goggles-logo {
        height: 3rem;
        width: auto;
        line-height: 3rem;
        vertical-align: middle;
      }

      .logo-text {
        color: #FFF;
        margin-left: 1rem;
      }

      .logo-by {
        font-weight: 300;
      }

      .mozilla-word-mark {

      }

    }
  }
}

#navbar-logged-in {
  li {
    img, span {
      position: relative;
      vertical-align: middle;
      top: 0;
    }
    ul.dropdown {
      display: block;
    }
  }
}

footer {
  background: @purple;
  margin-top: 75px;

  .content-wrapper {
    padding: 40px 0 40px 0;
    width: 964px;
    margin: 0 auto;
    position: relative;
    color: white;
    overflow: auto;
    font-size: 1rem;
  }

  .social-links {
    list-style-type: none;
    margin: 0;
    padding-top: 17px;
    display: flex;

    li {
      line-height: 15px;
      padding: 0;
      margin: 0.5rem 0 1rem 0;
      white-space: nowrap;
      vertical-align: middle;
      font-size: 15px;

      & + li {
        margin-left: 4.5%;
      }
    }

    li a {
      display: block;
      position: relative;
    }

    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      padding-right: 5px;
      background-repeat: no-repeat;
    }

    .help .icon {
      background-image: ~"url(/img/footer-icon-help.svg)";
    }

    .twitter .icon {
      background-image: ~"url(/img/footer-icon-twitter.svg)";
    }

    .github .icon {
      background-image: ~"url(/img/footer-icon-github.svg)";
    }

    .terms .icon {
      background-image: ~"url(/img/footer-icon-terms.svg)";
    }

    .privacy .icon {
      background-image: ~"url(/img/footer-icon-privacy.svg)";
    }

    a {
      color: white;
      text-decoration: none;
      opacity: .7;
      .transition(opacity .1s linear);

      &:hover {
        opacity: 1;
      }
    }
  }

  .project-info {
    padding: 18px 20px;
    width: 610px;
    display: flex;
    margin: auto;
    position: relative;
    border-radius: 4px;
    line-height: 22px;

    .mozilla-logo {
      position: absolute;
      bottom: 24px;
      left: 20px;
      img {
        display: block;
        width: 100px;
      }
    }

    .goggles-context {
      margin: 0 0 0 122px;
      padding: 0 0 0 20px;
      color: rgba(255,255,255,.5);
      border-left: solid 2px rgba(255,255,255,0.3);

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.main-cta {
  background-color: @purple;
  background-image: ~"url(/img/teach-pattern-2.png)";
  background-size: 300px;
  padding: 30px 0;
  height: 19.5rem;

  display: flex;
  .align-items(center);
  .justify-content(center);

  .content-wrapper {
    width: 964px;
    margin: 0 auto;
    position: relative;

    text-align: center;
    text-shadow: 1px 1px #444;

    h1 {
      color: white;
      padding: 0;
      font-weight: normal;
      font-size: 2.75rem;
      line-height: 2.75rem;
      margin: 0 0 15px 0;
    }

    p {
      color: rgba(255,255,255,.9);
      margin: 0 0 45px 0;

      a {
        color: white;

        &:hover {
          color: rgba(255,255,255,1);
        }
      }
    }
  }
}

.steps {
  background-color: @lightgrey;

  .content-wrapper {
    width: 964px;
    margin: 0 auto;

    counter-reset: step;

    .step {
      position: relative;
      display: flex;
      width: 964px;

      counter-increment: step;

      & + .step {
        margin-top: 30px;
        border-top: 1px solid #CCC;
        padding-top: 100px;
        padding-bottom: 60px;
      }

      figure {
        margin: 0;
        padding: 0;
      }

      .example {
        .flex(0 1 50%);
        position: relative;
        height: 370px;
        width: auto;
        top: -30px;
        margin-right: 6%;

        img {
          position: relative;
          z-index: 1
        }

        &:after {
          content: "shadow";
          color: transparent;
          box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.2);
          border-radius: 40%;
          position: absolute;
          bottom: 8px;
          left: 15px;
          right: 15px;
          height: 0px;
        }
      }

      .description {
        display: flex;
        .flex(0 1 50%);
        .flex-direction(column);
        color: #777;
        font-weight: 300;

        h2 {
          font-weight: 400;
          font-size: 1.75rem;
          margin: 0;

          &:before {
            content: counter(step, decimal);
            border: 1px solid #5b73a2;
            color: #5b73a2;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            display: block;
            text-align: center;
            padding: 5px;
            font-weight: 300;
            margin: 4rem 0 1rem;
            line-height: 2rem;
          }
        }

        p {
          margin-top: 0;
        }

        .remix-button {
          .createButton("Fira Sans", 18px, white, @blue, @darkblue);
        }

        .goggles-bookmark {
          .createButton("Fira Sans", 18px, white, @pink, @darkpink);

          padding: 20px 0px 14px 3rem;
          border-radius: 30px;
          font-weight: 400;
          line-height: 1.4rem;
          width: 22rem;
          position: relative;

          .dragme {
            position: absolute;
            left: 1.25rem;
            line-height: 1.2rem;
          }

          /*
            Hide the true label, which is used by the browser as bookmarklet title,
            and instead show our "desired" button label as a CSS:after content string:
          */

          .label {
            position: relative;
            color: transparent;

            &:after {
              content: "Drag and drop me in your bookmark bar";
              position: absolute;
              top: ~"calc(50% - 0.75rem)";
              left: -7.3rem;
              color: white;
              white-space: nowrap;
            }
          }
        }

      }
    }
  }
}

.remix-projects {
  .content-wrapper {
    width: 964px;
    margin: 0 auto;
  }

  .remixable-header {
    text-align: center;
    margin: 80px 0 27px 0;
    padding: 0;
    font-weight: 400;
    color: #666;

    h2 {
      font-size: 2.75rem;
      font-weight: 400;
      margin-bottom: 0;

    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
    }

  }


  .remixable-projects {
    display: flex;
    .flex-direction(row);
    .flex-wrap(nowrap);
    .justify-content(center);
    .align-content(flex-start);
    .align-items(flex-start);

    &:first-of-type {
      padding-bottom: 45px;
      margin-bottom: 40px;
      border-bottom: solid 2px #EEE;
    }

    .project {
      .flex(1 1 auto);
      .align-self(stretch);

      margin-right: 75px;

      .title {
        margin: 0 0 12px 0;
        font-size: 22px;
        color: #545454;
        text-align: center;
        white-space: nowrap;

        font-weight: 400;
        font-size: 1.7rem;
        color: #666;
      }

      &:last-child {
        margin: 0;
      }

      .thumbnail {
        width: 271px;
        height: 278px;
        position: relative;
        margin: 0 0 20px 0 ;
        .transition(all .1s ease-out);

        &:hover {
          opacity: .90;
          .transform(translateY(-3px));
        }

        .image {
          width: 271px;
          display: block;
          height: 278px;
          z-index: 2;
          position: relative;
          border-radius: 3px;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 10px;
          width: ~"calc(100% - 20px)";
          height: 40px;
          box-shadow: 0 2px 15px rgba(0,0,0,.2);
          border-radius: 40%;
          z-index: 1;
        }
      }

      .description {
        color: #999;
        font-size: 15px;
        line-height: 19px;
        margin: 0 0 15px 0;
      }

      &.hack-the-news .image {
        background: ~"url(/img/goggles-remix-1.png)"  #8B0208;
      }

      &.hack-my-media .image {
        background: ~"url(/img/goggles-remix-2.png)" #FED831;
      }

      &.hack-science-for-girls .image {
        background: ~"url(/img/goggles-remix-3.png)" #EFEFEF;
      }

      .remix-button {
        .createButton("Fira Sans", 18px, white, @blue, @darkblue);
      }
    }
  }
}
