# Host information
export PORT=12416
export HOSTNAME="http://localhost:12416"

# Publication point
export HACKPUBURL="http://localhost:12416/"

# Users can automatically file bugs, through this page:
export BUGREPORTHACKPUBURL="http://localhost:12416/bugs/"

# Webmaker SSO information
export LOGIN="http://localhost:3000"
export LOGINAPI="http://testuser:password@localhost:3000"
export AUDIENCE="http://localhost:7777"

# Local cookie secret
export SESSION_SECRET="I do enjoy a good cup of tea"

# Database settings
#
# For sqlite: _dialect and _storage needs to be set
# For mysql: _dialect, _user, _password, _host and _name needs to be set
#
export DB_DIALECT="sqlite"
export DB_STORAGE="thimble.sqlite"
