export PORT=12416
export HOSTNAME="http://localhost:12416"
export HACKPUBURL="http://localhost:12416/"
export BUGREPORTHACKPUBURL="http://localhost:12416/bugs/"
export LOGIN="http://localhost:3000/"
export LOGINAPI="http://testuser:password@localhost:3000/"
export AUDIENCE="http://localhost:7777/"
export SESSION_SECRET="I do enjoy a good cup of tea"
