# Host information
export PORT=12416
export APP_HOSTNAME="http://localhost:12416"

# Publication point
export HACKPUBURL="http://localhost:12416/"

# Webmaker SSO information
export LOGIN="http://localhost:3000"
export LOGINAPI="http://testuser:password@localhost:3000"
export AUDIENCE="http://localhost:7777"

# RESTful bleaching url
export BLEACH_ENDPOINT="http://localhost:5050"

# Persona single sign-on host
export PERSONA_HOST="https://login.persona.org"

# make API information
export MAKE_ENDPOINT="http://localhost:5000"
export MAKE_PRIVATEKEY="00000000-0000-0000-000000000000"
export MAKE_PUBLICKEY="00000000-0000-0000-000000000000"

# Local cookie secret
export SESSION_SECRET="dummy secret value"

# Super Cookie Domain - leave empty for localhost
# COOKIE_DOMAIN=webmaker.org

# Database settings
#
# For sqlite: _dialect and _storage needs to be set
# For mysql: _dialect, _user, _password, _host and _name needs to be set
#
export DB_DIALECT="sqlite"
export DB_STORAGE="goggles.sqlite"

# AWS-S3 information
export S3_BUCKET="org.webmadecontent.staging.goggles"
export S3_KEY=
export S3_SECRET=

# This value is only used for localhost testing with emulated S3
export MOX_PORT=12319
export S3_DOMAIN="http://localhost:12319"
export S3_EMULATION=false

# Optional google analytics settings - if used, they will inject
# the google analytics JS snippet with your information filled in.
export GA_ACCOUNT=
export GA_DOMAIN=

# Domain to host user subdomains on
# Must be in the format protocol://hostname[:port]
export USER_SUBDOMAIN=http://127.0.0.1.xip.io:4000

# i18n Language Support
export SUPPORTED_LANGS='[ "*" ]'

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false

# New id.wmo address
export ID_WMO_URL="http://localhost:1234"
export ID_WMO_CLIENT_ID="goggles"

# publish.wmo address
export PUBLISH_WMO_URL="http://localhost:2015"
