.pane.split {
  float: left;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tabs {
  height: 100%;
  /*float: right;*/
}

.tab {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  padding: 0 1em;
  color: #fff;
  background: #f0f0f0;
  background-color: #00293E;
  border-bottom: 8px solid #3FB58E;
}

.tabs .tab.selected {
  background: white;
  background-color: #3FB58E;
  color: black;
  color: #fff;
}

.tabs div.tab:hover {
  cursor: pointer;
}

.tabs div.tab.selected:hover {
  cursor: default;
}

#dom-rendering-column {
  background-color: #fff;
}

#dom-rendering div.name, #dom-rendering div.start, #dom-rendering div.end {
  cursor: default;
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}

#dom-rendering input {
  text-overflow: ellipsis;
}

#dom-rendering textarea {
  resize: none;
}

#dom-rendering textarea, #dom-rendering input {
  overflow: hidden;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: inherit;
}

#html-editor-container {
  position: relative;
  /*border: 1px dotted gray;*/
}

#html-editor-container .CodeMirror-scroll {
  min-height: 300px;
  height: auto;
  overflow: hidden;
}

#dom-rendering div.name, #dom-rendering div.start, #dom-rendering div.end {
  cursor: default;
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}

#dom-rendering input {
  text-overflow: ellipsis;
}

#dom-rendering textarea {
  resize: none;
}

#dom-rendering textarea, #dom-rendering input {
  overflow: hidden;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: inherit;
}

#preview-column {
  background-color: #DDECEB;
}

#preview {
  height: 400px;
  width: 100%;
  margin-left: 4px;
  /*border: 1px dotted #AAAAAA;*/
  border: none;
  background-color: #fff;
  margin-left: 0;
  position: relative;
}

span.sample {
  border: 1px dotted gray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8pt;
  background: #f0f0f0;
  padding: 3px;
  cursor: move;
}

.mdn-link {
  cursor: pointer !important;
}

.mdn-link:hover {
  text-decoration: underline !important;
}

.tipsy {
  opacity: 1 !important;
}

.tipsy-inner {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  background-color: #00293E;
}

.tipsy a {
  color: inherit;
}

@media screen and (max-width: 800px) {
  
  #preview-column,
  #dom-rendering-column {
    float: none;
    clear: both;
    width: 100%;
    margin-left: 0;
  }
  
}
