textarea {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 9pt;
  width: 100%;
  height: 20em;
}

div.big-button {
  position: relative;
  display: inline-block;
  width: 200px;
  text-align: center;
  cursor: pointer;
  background-color: #f8a339;
  font-style: italic;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

div.big-button:after {
  content: ' »';
}

div.big-button:hover {
  background-color: #ffc833;
}

div.publish-option {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

div.publish-option p {
  display: inline;
  padding: 10px;
}

.published-url {
  padding: 10px;
  text-align: center;
}

.published-url a {
  font-size: 24pt;
  text-decoration: none;
  color: steelblue;
  padding: 10px;
}

.published-url a:hover {
  background-color: #f0f0f0;
}

.close-button {
  top: 51px!important;
}

.publish-disable-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(200, 200, 200);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  line-height: 3em;
  color: transparent;
}

.publish-disable-overlay:hover {
  color: white;
  text-shadow: 0 0 5px red,
               0 0 10px orange;
}