{% block deprecationNotice %}
<div class="deprecation-banner">
  <p class="deprecation-content">
    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;On <strong>December 16, 2019 12:00pm ET</strong>, Mozilla will be winding down X-Ray Goggles and all associated data and content will be permanently deleted. You can read more about our decision in <a href="https://foundation.mozilla.org/blog/putting-away-our-x-ray-goggles/">this blog post</a>.<br><br>
    If you are looking to learn about the web with tools like X-Ray Goggles, join our friends at the <a href="https://mouse.org/join">Mouse Learning Network</a> for free and check out their awesome <a href="https://mouse.org/coding">Coding course</a>.
  </p>
</div>
{% endblock %}
