{% block footer %}
    <footer>
      <div class="content-wrapper">
        <ul class="social-links">
          <li><a title="Stuck? Get help!" class="help" href="https://support.mozilla.org/en-US/products/webmaker/thimble"><span class="icon"></span>Stuck? Get help!</a></li>
          <li><a title="Talk to us on Twitter" class="twitter" href="https://twitter.com/mozteach"><span class="icon"></span>Talk to us on Twitter</a></li>
          <li><a title="Contribute on Github" class="github" href="https://github.com/mozilla/thimble.webmaker.org"><span class="icon"></span>Contribute on Github</a></li>
          <li><a title="Terms of Service" class="terms" href="..."><span class="icon"></span>Terms of Service</a></li>
          <li><a title="Privacy Policy" class="privacy" href="..."><span class="icon"></span>Privacy Policy</a></li>
        </ul>

        <div class="project-info">
          <a class="mozilla-logo" title="Mozilla" href="https://www.mozilla.org/en-US/"><img alt="Mozilla" src="img/mozilla-logo.svg"></a>
          <p class="goggles-context">
            X-Ray Goggeles is part of the Mozilla Learning Network. <br>
            Learn to teach like mozilla at <a href="http://teach.mozilla.org">teach.mozilla.org</a>.
          </p>
        </div>
      </div>
    </footer>
{% endblock %}
