<!DOCTYPE html>
<html lang="{{ localeInfo.lang }}" dir="{{ localeInfo.direction }}">
  <head>
    <meta charset="utf-8">
    <title>Mozilla X-Ray Goggles</title>
    <link rel="stylesheet" href="stylesheets/homepage/userbar.css">
    <link rel="stylesheet" href="stylesheets/homepage/style.css">
    <link rel="icon" href="/img/goggles-logo.png">
  </head>
  <body>
    {% include 'homepage/userbar.html' %}
    {% include 'homepage/main-cta.html' %}
    {% include 'homepage/steps.html' %}
    {% include 'homepage/remix.html' %}
    {% include 'homepage/footer.html' %}
  </body>
</html>
