<!DOCTYPE html>
<html lang="{{ localeInfo.lang }}" dir="{{ localeInfo.direction }}">
  <head>
    <meta charset="utf-8">
    <title>Mozilla X-Ray Goggles</title>
    {% if forceSSL %}

    <script>
      if (window.location.protocol = "http:") {
        console.log(window.location);
        var loc = window.location.toString();
        //window.location = loc.replace("http://", "https://");
      }
    </script>

    {% endif %}
    <script src="authtoken.js"></script>
    <link rel="stylesheet" href="stylesheets/homepage/userbar.css">
    <link rel="stylesheet" href="stylesheets/homepage/style.css">
    <link rel="icon" href="/img/goggles-logo.png">
  </head>
  <body>
    {% include 'homepage/userbar.html' %}
    {% include 'homepage/main-cta.html' %}
    {% include 'homepage/steps.html' %}
    {% include 'homepage/remix.html' %}
    {% include 'homepage/footer.html' %}
  </body>
</html>
