{% block instructions %}
    <div class="dialoger webxray-msg-dialog"></div>

    {% include 'homepage/instructions/tutorial.html' %}

    <section class="instructions">
      <div class="content-wrapper">

        <div class="remix-me">
  <h1>What's my name?</h1>
  <p>
    This tutorial walks you through a mix-and-match game to learn about the key features of X-Ray Goggles. With
    X-Ray Goggles activated, you can change the text and switch out the different dino, fox, and bird sections to
    create a new web page featuring your own animal friend.
  </p>
        </div>

<figure class="remix-me">
  <img src="/img/animals/top/fox.png">
  <img src="/img/animals/middle/bird.png">
  <img src="/img/animals/bottom/dino.png">
</figure>

        <div class="hidden steps">
          {% include "homepage/instructions/steps.html" %}
        </div>
      </div>

      <script src="js/ftu.js"></script>
    </section>
{% endblock %}
