<!DOCTYPE html>
<html lang="{{ localeInfo.lang }}" dir="{{ localeInfo.direction }}">
  <head>
    <meta charset="utf-8">
    <title>Mozilla X-Ray Goggles</title>
    <script src="authtoken.js"></script>
    <link rel="stylesheet" href="stylesheets/homepage/userbar.css">
    <link rel="stylesheet" href="stylesheets/homepage/style.css">
    <link rel="icon" href="/img/goggles-logo.png">
    <script src="/bower/ua-parser-js/dist/ua-parser.min.js"></script>
    <script>
      var ua = UAParser();
      var html = document.querySelector("html");
      html.setAttribute("data-os", ua.os.name.toLowerCase());
      html.setAttribute("data-browser", ua.browser.name.toLowerCase());
    </script>
  </head>
  <body>
    {% include 'homepage/mobileoverlay.html' %}
    {% include 'homepage/userbar.html' %}
    {% block content %}{% endblock %}
    {% include 'homepage/footer.html' %}
  </body>
</html>
