{% block mobileoverlay %}
  <div id="mobile-overlay" class="inactive">
    <p class="notice">
      X-Ray Goggles was designed as a desktop experience, and
      relies on having a bookmark bar from which to launch a
      JavaScript library.
    </p>
  </div>
  <script>
  (function() {
    var overlay = document.getElementById("mobile-overlay");
    var mobileBrowsers ["Android", "iOS"];
    if (mobileBrowsers.indexOf(html.getAttribute("data-os")) !== -1) {
      overlay.setAttribute("class", "active");
    }
    overlay.addEventListener("click", function() {
      overlay.parentNode.removeChild(overlay);
    });
  }())
  </script>
{% endblock %}
