{% block remix %}
    <section class="remix-projects">
      <div class="content-wrapper">

        <div class="remixable-header">
          <h2 class="projects-heading">Use X-Ray Goggles to Teach</h2>
          <p>Now that you have mastered X-Ray Goggles, use these activities to teach others how to code.</p>
        </div>

          <div class="remixable-projects">


            <div class="project hack-the-news">
              <h2 class="title">Remix the News</h2>
              <div class="thumbnail">
                <a href="https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-hackthenews.html" class="image"></a>
              </div>
              <p class="description">
                Use X-Ray Goggles to remix a news website, learning about openly-licensed resources, different forms of media, and how to remix something new.
              </p>
              <a href="https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-hackthenews.html" class="remix-button">Try this activity <span class="follow fa fa-long-arrow-right "></span></a>
            </div>


            <div class="project hack-my-media">
              <h2 class="title">Hack My Media</h2>
              <div class="thumbnail">
                <a href="https://stephguthrie.makes.org/thimble/ODU3ODAxMjE2/hacking-my-media-with-x-ray-goggles" class="image"></a>
              </div>
              <p class="description">
                Participants will think critically about their identities and the media. They will use this to create their first webpage by tinkering with an existing webpage.
              </p>
              <a href="https://stephguthrie.makes.org/thimble/ODU3ODAxMjE2/hacking-my-media-with-x-ray-goggles" class="remix-button">Try this activity <span class="follow fa fa-long-arrow-right "></span></a>
            </div>


            <div class="project hack-science-for-girls">
              <h2 class="title">Remix Science for Girls</h2>
              <div class="thumbnail">
                <a href="http://www.lessonpaths.com/learn/i/diving-in/hack-great-science-for-girls-with-the-xray-goggles" class="image"></a>
              </div>
              <p class="description">
                The goal of this remix is for participants to create their first webpage by remixing and tinkering with an existing webpage.
              </p>
              <a href="http://www.lessonpaths.com/learn/i/diving-in/hack-great-science-for-girls-with-the-xray-goggles" class="remix-button">Try this activity <span class="follow fa fa-long-arrow-right "></span></a>
            </div>


          </div>
      </div>
    </section>
{% endblock %}
