{% block remix %}
    <section class="remix-projects">
      <div class="content-wrapper">

        <div class="remixable-header">
          <h2 class="projects-heading">Use X-Ray Goggles to Teach</h2>
          <p>Use these activities to teach others how to code.</p>
        </div>

          <div class="remixable-projects">

            <!-- Keep Calm› Project -->
            <div class="project hack-the-news">
              <h2 class="title">Hack the News</h2>
              <div class="thumbnail">
                <a href="{{ keepCalmRemixUrl }}" title="Remix the Keep Calm Poster project" class="image"></a>
              </div>
              <p class="description">
                Placeholder activity description text copy will go here.
              </p>
              <a title="Remix the Keep Calm Poster project" href="{{ keepCalmRemixUrl }}" class="remix-button">Button CTA</a>
            </div>

            <!-- Back to School Postcard Project -->
            <div class="project hack-my-media">
              <h2 class="title">Hack My Media</h2>
              <div class="thumbnail">
                <a href="{{ backToSchoolRemixUrl }}" title="Remix the Back-to-School Postcard project" class="image"></a>
              </div>
              <p class="description">
                Placeholder activity description text copy will go here.
              </p>
              <a href="{{ backToSchoolRemixUrl }}" title="Remix the Back-to-School Poster project" class="remix-button">Button CTA</a>
            </div>


            <!-- Comic Strip Project -->
            <div class="project hack-science-for-girls">
              <h2 class="title">Hack Science for Girls</h2>
              <div class="thumbnail">
                <a href="{{ comicStripRemixUrl }}" title="Remix the Current Events Comic Strip project" class="image"></a>
              </div>
              <p class="description">
                Placeholder activity description text copy will go here.
              </p>
              <a href="{{ comicStripRemixUrl }}" title="Remix the Comic Strip project"  class="remix-button">Button CTA</a>
            </div>
          </div>
      </div>
    </section>
{% endblock %}
