{% block sample %}
    <section class="sample">
      <div class="content-wrapper">
        <img src="img/forest@2x.png">
        <div class="overlay">
          <div class="inlay">
            <div class="description">
              <h2>Try a Sample Activity</h2>

              <p>Once you've installed X-Ray Goggles in your bookmark bar, you can begin remixing.</p>

              <p>Start with our step-by-step tutorial.</p>

              <a href="/ftu" class="remix-button">Sample activity page <span class="follow fa fa-long-arrow-right "></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
