{% block steps %}
    <section class="steps">
      <div class="content-wrapper">

        <div class="step">
          <figure class="example">
            <img src="img/bookmark-mac-firefox@2x.png" width="100%">
          </figure>
          <div class="description">
            <h2>Open Your Bookmark Toolbar</h2>
            <p>
              If you're using Firefox on a Mac, look at your top menu bar,
              click <em>View</em>, and make sure <em>Bookmark Toolbar</em> is selected.
            </p>
          </div>
        </div>

        <div class="step">
          <figure class="example">
            <img src="img/install-mac-firefox@2x.png" width="100%">
          </figure>
          <div class="description">
            <h2>Install Goggles</h2>
            <p>
              Click and drag this button to your bookmark toolbar to install X-Ray Goggles.
            </p>
            <a class="goggles-bookmark" href="javascript:"><span class="dragme fa fa-arrows"></span><span class="label">X-Ray Goggles</span></a>

            <!-- autogenerate the goggles bookmarklet code, immediately -->
            <script src='js/bindgogglesbutton.js'></script>
          </div>
        </div>

<!--
 <a href="/ftu" class="remix-button">Sample activity page <span class="follow fa fa-long-arrow-right "></span></a>
-->

      </div>
    </section>
{% endblock %}
