{% block maincta %}
    <section class="steps">
      <div class="content-wrapper">

        <div class="step">
          <img class="example" src="img/goggles-step-1.png">
          <div class="description">
            <h2>Install Goggles</h2>
            <p>
              Make sure your bookmark bar is in view. Click and drag this
              button to your bookmark bar to install X-Ray Goggles.
            </p>
            <a class="goggles-bookmark" href="javascript:"><span class="icon"></span>Drag and drop me in your bookmark bar</a>
          </div>
        </div>

        <div class="step">
          <img class="example" src="img/goggles-step-2.png">
          <div class="description">
            <h2>Try a Sample Activity</h2>
            <p>
              Once you've installed X-Ray Goggles in your bookmark bar, you
              can begine remixing. Start with our step-by-step tutorial.
            </p>
            <button class="remix-button">Sample activity page →</button>
          </div>
        </div>

      </div>
    </section>
{% endblock %}
