{% block userbar %}
  <!-- webmaker user bar -->
  <nav class="navbar-goggles container-flex">
    <div id="navbar-left" class="container-flex">
      <div class="navbar-logo-container">
        <a href="/{{localeInfo.lang}}" class="logo">
          <img src="/img/goggles-logo.png" class="goggles-logo">
          <span class="logo-text">X-Ray Goggles</span>
          <span class="logo-by">by</span>
          <span class="mozilla-word-mark">mozilla</span>
        </a>
      </div>
    </div>

    <div id="navbar-right" class="container-flex">
      <div id="navbar-login" {% if username %}class="signed-in"{% endif %}>
        <div id="navbar-login-inner">

        {% if username %}
          <ul id="navbar-logged-in">
            <li>
              <img class="avatar" src="{{avatar}}">
              <span>Hi, {{username}}</span>
              <img class="icon-arrow-down" src="/img/icon/dropdown-arrow.svg">

              <ul class="dropdown">
                <li>
                  <a id="new-project-link" class="dropdown-link">
                    <img src="/img/icon/new-project.svg" class="dropdown-icon">
                    New Project
                  </a>
                </li>
                <li>
                  <a href="/projects/{{ queryString }}" class="dropdown-link" target="_self">
                    <img src="/img/icon/your-projects.svg" class="dropdown-icon">
                    Your Projects
                  </a>
                </li>
                <li>
                  <a href="{{ logoutURL }}" id="logout-link" class="dropdown-link" target="_self">
                    <img src="/img/icon/sign-out.svg" class="dropdown-icon">
                    Sign Out
                  </a>
                </li>
              </ul>
            </li>
          </ul>

        {% else %}
          
          <div id="navbar-anonymous">
            <a title="Log in to Goggles" id="login-link" target="_blank" class="navbar-login">Sign in</a>
            or
            <a title="Create an account" id="signup-link" target="_blank" class="navbar-login">Create an Account</a>
          </div>


          <script>
            var signin = document.querySelector("#login-link");
            signin.href = "{{ idwmoURL }}/login/oauth/authorize?" + [
              "client_id={{ clientId }}",
              "response_type=token",
              "scopes=user email",
              "action=signin",
              "state=signin"
            ].join("&");

            var signup = document.querySelector("#signup-link");
            signup.href = "{{ idwmoURL }}/login/oauth/authorize?" + [
              "client_id={{ clientId }}",
              "response_type=token",
              "scopes=user email",
              "action=signup",
              "state=signup"
            ].join("&");
          </script>

        {% endif %}

        </div>
      </div>
    </div>
  </nav>
{% endblock %}
