<!DOCTYPE html>
<html lang="{{ localeInfo.lang }}" dir="{{ localeInfo.direction }}">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{hostname}}/bower/makerstrap/dist/makerstrap.min.css">

    <link rel="stylesheet" href="{{hostname}}/stylesheets/style.css">
    <link rel="stylesheet" href="{{hostname}}/stylesheets/dialog.css">
    <link rel="stylesheet" href="{{hostname}}/stylesheets/hierarchic-source-code.css">
    <link rel="stylesheet" id="webxray" href="{{hostname}}/webxray.css">
    <link rel="stylesheet" href="{{hostname}}/tipsy.css">
    <link rel="stylesheet" href="{{hostname}}/codemirror2/lib/codemirror.css">
    <link rel="stylesheet" href="{{hostname}}/stylesheets/jsbin-codemirror-theme.css">
    <link rel="stylesheet" href="{{hostname}}/stylesheets/easy-dialog-remix.css">

    <title>{{ gettext("Remix Dialog") }}</title>
    <script src="{{hostname}}/jquery.min.js"></script>
    <script src="{{hostname}}/jquery.tipsy.js"></script>
    <script src="{{hostname}}/jquery.scrollTo-min.js"></script>
    <script src="{{hostname}}/codemirror2/lib/codemirror.js"></script>
    <script src="{{hostname}}/codemirror2/mode/xml/xml.js"></script>
    <script src="{{hostname}}/codemirror2/mode/javascript/javascript.js"></script>
    <script src="{{hostname}}/codemirror2/mode/css/css.js"></script>
    <script src="{{hostname}}/codemirror2/mode/htmlmixed/htmlmixed.js"></script>
    <script src="{{hostname}}/easy-remix-dialog/render-dom.js"></script>
    <script src="{{hostname}}/easy-remix-dialog/edit-dom.js"></script>
    <script src="{{hostname}}/easy-remix-dialog/html-editor.js"></script>
    <script src="{{hostname}}/src/utils.js"></script>
    <script src="{{hostname}}/src/tag-colors.js"></script>
    <script src="{{hostname}}/src/event-emitter.js"></script>
    <script src="{{hostname}}/bower/webmaker-i18n/localized.js"></script>

    <style>
      iframe {
        display: none;
      }
      div button {
        display: block;
        margin: 1rem;
        width: 9rem;
      }
      div button tab {
        border: none;
        background: inherit;
        color: white;
      }
      div button tab hidden {
        display: none;
      }
      body {
        background: inherit;
        overflow: hidden;
      }
    </style>
  </head>
  <body>

    <div class="dialog">

      <div id="dom-rendering-column" class="pane split">
        <div id="dom-rendering"></div>
      </div>

      <iframe id="preview" scrolling="no" src="blank.html"></iframe>

      <div>
        <button class="btn btn-primary" id="ok">{{ gettext("Update") }}</button>
        <button class="btn btn-default" id="nevermind">{{ gettext("Cancel") }}</button>

        <button class="tab hidden" id="pretty">{{ gettext("Basic") }}</button>
        <button class="tab selected hidden" id="raw">{{ gettext("Advanced") }}</button>
      </div>

    </div>

    <script src="{{hostname}}/easy-remix-dialog.js"></script>
  </body>
</html>

