<div data-step="1" class="step goggles-start">
  <h2>Activate the X-Ray Goggles</h2>
  <p>Click on the X-Ray Goggles in your bookmark toolbar to activate the Goggles. By the way: you can do this on any website!</p>
  <p>To deactivate, just press 'esc' on your keyboard at any time</p>
  <p>If you haven't installed the X-Ray Goggles yet, <a href="/">click here to go to the install page</a>.</p>
  <img src="/img/goggles-step-2.png">
  <a href="https://support.mozilla.org/en-US/kb/install-x-ray-goggles#w_enable-your-bookmarks-toolbar" target="_blanK">Learn how to enable your toolbar</a>
</div>

<div data-step="2" class="step goggles-edit-start skip-2">
  <h2>Remix the Images</h2>
  <p>Hover over any of the animal sections (top, middle, or bottom) to highlight them with the Goggles, then click them to open their code in the Goggles editor.</p>
  <div class="nav options">
    <button class="back">back</button>
    <button class="skip">skip</button>
  </div>
</div>

<div data-step="3" class="step goggles-edit-finished">
  <h2>Make a New Animal!</h2>
  <p>Play around by swapping the words <code>dinosaur</code>, <code>fox</code>, and <code>bird</code> in each section.</p>
  <p>Click the Update button to save your changes.</p>
  <p>(You can also use a completely different image! When using Goggles, you can add any image from anywhere on the Web, but be sure to respect copyright law: just you can find an image does not mean you're automatically free to use it for your own purposes!)</p>
  <div class="nav options">
    <button class="back">back</button>
    <button class="skip">skip</button>
  </div>
</div>

<div data-step="4" class="step goggles-edit-start skip-2">
  <h2>Remix the Words</h2>
  <p>Hover over this section of text to highlight it, and then click it to open the editor.</p>
  <div class="nav options">
    <button class="back">back</button>
    <button class="skip">skip</button>
  </div>
</div>

<div data-step="5" class="step goggles-edit-finished">
  <h2>Introduce Your Animal to the World!</h2>
  <p>Delete the text between <code>&lt;h1&gt;</code> and <code>&lt;/h1&gt;</code> and
    give your animal a name. Then, update the text between the <code>&lt;p&gt;</code>
    and <code>&lt;/p&gt;</code> with some details about your animal. Where does it live?
    What does it eat? What kind of music does it like?</p>
  <p>Click the "Update" button to save your changes.</p>
  <div class="nav options">
    <button class="back">back</button>
    <button class="skip">skip</button>
  </div>
</div>

<div data-step="6" class="step end">
  <h2>Publish Your Animal</h2>
  <p>You're done! When you're ready to publish and share your animal, click on Publish.</p>
  <div class="nav options">
    <button class="end">close tutorial</button>
  </div>
</div>

