    <link rel="stylesheet" href="/webxray.css">
    <link rel="stylesheet" href="/stylesheets/uproot-dialog.css">
    <link rel="stylesheet" href="/stylesheets/homepage/instructions/ftu.css">

    <div class="instruction-overlay">
      <div class="dialog">
        <div class="close">
          <span class="fa fa-close"></span>
        </div>

        <div class="body">

          <img class="logo" src="/img/goggles-logo.png">
          <p>
            Click on X-Ray Goggles in your bookmark toolbar to activate
            them. By the way: you can do this on any website!
          </p>

          <img class="demoimg" src="/img/goggles-step-2.png">
          <script>
          (function() {
            var img = document.querySelector("img.demoimg");
            var html = document.querySelector("html");
            var src = [
              "/img/instructions/bookmark3",
              html.getAttribute("data-os"),
              html.getAttribute("data-browser")
            ].join('-') + "@2x.png";
            img.src = src;
          }());
          </script>

          <div class="tutorialnotes">
            <p><a href="https://support.mozilla.org/en-US/kb/install-x-ray-goggles#w_enable-your-bookmarks-toolbar">Learn how to enable your bookmark toolbar.</a></p>
            <p>If you haven't installed X-Ray Goggles, <a href="/">click here to go to the install page.</a></p>
          </div>

        </div>
      </div>
    </div>
