    <link rel="stylesheet" href="/webxray.css">
    <link rel="stylesheet" href="/stylesheets/uproot-dialog.css">

    <div class="instruction-overlay">
      <div class="dialog">
        <div class="close">
          <span class="fa fa-close"></span>
        </div>

        <div class="body">
          <img class="logo" src="/img/goggles-logo.png">
          <h2>Tutorial</h2>
          <p>
            This tutorial walks you through a mix-and-match game to learn about the key
            features of X-Ray Goggless. With the X-Ray Goggles acrtivated, you can change the
            text and switch out the different dinosaur, fox, and bird sections, to create a new
            web page featuring your own animal friend.
          </p>
          <p>
            If you haven't installed the X-Ray Goggles yet,
            <a href="/">click here to go to the install page.</a>
          </p>

          <button class="remix-button start">Get started</button>
          <button class="browse">Skip tutorial</button>
        </div>
      </div>
    </div>
